asgiref
astroid
autopep8
batlang
beautifulsoup4
certifi
charset-normalizer
colorama
comtypes
crispy-bootstrap5
dill
distlib
Django
django-bootstrap-v5
django-crispy-forms
django-email
django-environ
et-xmlfile
filelock
idna
isort
mccabe
MouseInfo
numpy
opencv-contrib-python
opencv-python
openpyxl
pandas
pillow
pipenv
platformdirs
psycopg2
PyAudio
PyAutoGUI
pycodestyle
PyGetWindow
pylint
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
pyttsx3
pytweening
pytz
requests
setuptools
six
soupsieve
sqlparse
tomlkit
tzdata
urllib3
virtualenv